@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700italic,900italic);

body {
	font-family: lato;
}

h1, h2, h3, h4, h5, h6 {
	font-family: lato;
}

div#logo-part {
	background: #fff;
}

div#hero-img {
	background: #fff;
}

div#email-box {
	background: #ec1561;
	color: #fff;
	border-radius: 15px;
	box-shadow: 0px 0px 15px 5px #a5a5a5;
}

div#copy-box {
	background: #fff;
}

li i {
	font-size: 2.4em;
	color: #fff;
}

.style13 {
  background: #fff;
  color: #0088f3;
  }
  
#benefits-holder {
	background: #e6e5e0;
	width: 100%; 
	margin: 60px auto;
	display: inline-block;
}

#benefits-holder > div { 
	margin: 0 0 50px 0; 
	min-width: 500px; 
	width: 100%; 
}

.col {
    width: 33.33%;  
    height: 8em;
    float: left;
    padding: 2%;
}

p.benefit-txt {
	text-align: center;
    vertical-align:middle;
}

div.benefit-img {
	padding: 0;
}

div.hero-img-box {
	padding:0;
}

blockquote#reinforce {
	font-family: "Playfair Display", serif;
	font-style: italic;
	font-size: 1.8em;
	color: #414141;
}

blockquote.cite {
	border-left: 5px solid #0d8ef4;
  	padding: 10px 0 10px 10px;
  	margin: 0 0 1rem 10px;
  	left: 30px; }
}

div#last-cta {
	background-color: #ec1561;
	color: #fff;
}

.dropcap, .dropcap-green, .dropcap-black {
  display: block;
  float: left;
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 0.25rem 0.5rem 0 0;
  text-align: center;
  width: 2rem; }

.dropcap.round, .round.dropcap-green, .round.dropcap-black {
  border-radius: 50%; }

.dropcap-black {
  background: #fee700;
  color: #000; }

#dropcap1 {
	border: 1px solid #a5a5a5;
	height: 8em;
	margin-right: 1em;
	width: 31.33%;
	border-radius: 12px;
}

#dropcap2 {
	border: 1px solid #a5a5a5;
	height: 8em;
	margin-right: 1em;
	margin-left: 1.3em;
	width: 31.33%;
	border-radius: 12px;
}

#dropcap3 {
	border: 1px solid #a5a5a5;
	height: 8em;
	width: 31.33%;
	border-radius: 12px;
}

div#dropcaps {
	background: #e6e5e0;
	padding: 10px;
	border-radius: 15px;
}

.product-type {
	font-size: 1.2em;
	color: #000;
	text-transform: uppercase;
	font-weight: 130;
	letter-spacing: 5px;
}

#mc_embed_signup {
	clear:left; 
	font:14px Lato,Arial,sans-serif; 
	width:50%;
}